
.box, box {
  @include clearfix;
  display: block;
  position: relative;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: $spacing;
  margin: 0;
  padding: $spacing $spacing 0;

  border-radius: $box-radius;

  &.double-top-padding {
    padding-top: $spacing*2;
  }

  @each $i in $colorArray {
    .content.#{nth($i,1)},
    &.#{nth($i,1)} {
      background-color: nth($i,2);
      color: nth($i,3);

      box-shadow: 0 3px 3px -3px nth($i,2);
    }
  }
}
